<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.me10zyl.cookbook.repository.RecipesMapper">


    <select id="findRecipesByIngredients" resultType="com.me10zyl.cookbook.entity.Recipes">
        SELECT a.* FROM recipes a
                 join recipe_ingredients b on a.recipe_id = b.recipe_id
        WHERE b.ingredients_id IN
        <foreach item="ingredient" collection="ingredientIds" separator="," open="(" close=")">
            #{ingredient}
        </foreach>
        group by a.recipe_id
    </select>
    <select id="getBalanceRecipes" resultType="com.me10zyl.cookbook.entity.Recipes">
            (SELECT * FROM recipes WHERE is_meat = 1  and is_soup = 0 ORDER BY RAND() LIMIT 1)
            UNION ALL
            (SELECT * FROM recipes WHERE is_meat = 0 and is_soup = 0 ORDER BY RAND() LIMIT 1)
            UNION ALL
            (SELECT * FROM recipes WHERE is_soup = 1 ORDER BY RAND() LIMIT 1)
    </select>
    <select id="getVegetablesRecipes" resultType="com.me10zyl.cookbook.entity.Recipes">
            SELECT * FROM recipes WHERE is_meat = 0 ORDER BY RAND() LIMIT 3
    </select>
    <select id="getQuickRecipes" resultType="com.me10zyl.cookbook.entity.Recipes">
            SELECT * FROM recipes WHERE cook_time &lt; 60 ORDER BY RAND() LIMIT 3
    </select>
</mapper>